.home-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    gap: 25px;
    margin-top: 12%;
}

#message {
    color: white;
    font-weight: 100;
}

#table-btn {
    height: 35px;
    width: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border: 2px solid var(--white-color);
    border-radius: 4px;
    padding: 10px;
    font-size: 0.9rem;
}

#table-btn:hover {
    transform: scale(1.05);
    color: var(--gold-color);
    border-color: var(--gold-color);
    background: rgba(129, 129, 129, 0.1);
}