.menu {
    display: grid;
    background-color: rgba(43, 43, 43, 0.2);
    backdrop-filter: blur(12px);
    border: 5px solid var(--gold-color);
    gap: 50px;
    margin: 0 20%;
    padding: 50px 100px;
}

#menu-title {
    font-family: 'Alex Brush', cursive;
    font-size: 5rem;
    font-weight: 200;
    text-align: center;
    color: var(--gold-color);
}

.item-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.item, .price {
    color: var(--gold-color);
}

.item {
    font-size: 1.7rem;
}

.description {
    text-align: center;
    font-size: 1.1rem;
}

.price {
    font-size: 1.2rem;
}