@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Herr+Von+Muellerhoff&family=Montserrat&family=Nanum+Gothic&display=swap');

:root {
    --white-color: white;
    --gold-color: #b99329;
    --black-color: black;
}

* {
    margin: 0;
    padding: 0;
}

html {
    height: 100vh;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--white-color);
}

body {
    background: url('../img/background3.jpg');
    background-size: cover;
}

body::-webkit-scrollbar { 
    display: none;
}

.top-bar {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.2), rgba(133, 133, 133, 0.1));
    color: var(--white-color);
    padding: 10px 8%;
    margin: 25px 0;
}

#restaurant-name {
    font-weight: 400;
    font-size: 6rem;
    margin-top: 15px;
    font-family: 'Herr Von Muellerhoff', cursive;
}

.tabs {
    display: flex;
    gap: 50px;
    justify-self: flex-end;
    font-size: 1.5rem;
}

.tab {
    border-bottom: 2px solid rgba(0, 0, 0, 0);
}

.tab:hover {
    color: var(--gold-color);
    transform: scale(1.05);
    border-bottom: 2px solid var(--gold-color);
}

.overlay {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: rgba(0,0,0,0.8);
    z-index: -1;
}